.white-back {
    background-color: rgba(255, 255, 255, 0.7);
}

.log-in {
    background: url('/res/img/login.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10% 10%;
}

.list_block{
    border: 2px rgba(120, 150, 255, 0.1);
    border-radius: 8px;
    background-color: rgba(120, 150, 255, 0.1);
}

.err {
    color: red;
    font-size: 35px;
    font-weight: 600;
}

.white {
    color: white;
}

.black {
    color: black;
}

.btn{
    font-weight: 600;
    -webkit-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn-green {
    background-color: darkolivegreen;
    color: white;
}

.btn-red {
    background-color: coral;
    color:white; 
}

.bg-grey{
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
}

footer p,
footer i {
    color: white;
}

form p,
form span,
form label{
    font-weight: 600;
}

form{
    padding: 10% 1%;
}

#notifications_ico{
    height: 100%
}